Repository cisagov/findings-data-import-terraform, pull requests merged in 2022-12, with the labels that each got.

#34 Add write-only bucket policy
  README.md
  exported_data_bucket_policy.tf
  variables.tf
Labels: improvement

#35 Use proper AWS terminology for variable name
  README.md
  exported_data_bucket_policy.tf
  variables.tf
Labels: documentation, improvement

#36 Break out S3 bucket settings to align with `aws` provider 4.x changes
  README.md
  exported_data_bucket.tf
  lambda_bucket.tf
  locals.tf
  variables.tf
  versions.tf
Labels: improvement, dependencies
